<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farmer Portal</title>
  <link rel="icon" type="images/png" href="images/logo.png">

  <link rel="stylesheet" href="../tw-elements/dist/css/tw-elements.min.css">
  <link rel="stylesheet" href="../flowbite/dist/flowbite.min.css">

  <link rel="stylesheet" href="../assets/shg_home.css">
</head>

<body>
  <header class="text-gray-600 bg-gray-100">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex font-medium items-center text-gray-900  md:mb-0">
        <img src="/images/logo1.png" class="w-14 h-14 text-white p-2 rounded-full" />
        <span class="ml-3 font-bold text-xl">Green Humanity - Farmer PORTAL</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900" href="logout">Logout</a>

      </nav>
    </div>
  </header>

  <section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap ">
      <div
        class="lg:w-2/4 md:w-1/4 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
        <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0"
          marginwidth="0" scrolling="no"
          src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Luksar,kasna,GN&ie=UTF8&t=k&z=14&iwloc=B&output=embed"></iframe>
        <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
          <div class="lg:w-1/2 px-6">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">Your Area</h2>
            <p class="mt-1">Luksar,GN</p>
          </div>

        </div>
      </div>

      <div class="lg:w-2/3 md:w-1/2 bg-white flex flex-col  w-full md:py-8 mt-8 md:mt-0">
        <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Welcome</h2>
        <p class="leading-relaxed mb-2 ml-2 text-gray-600">Harshit Katheria - Farmer</p>
        <p class="leading-relaxed mb-2 ml-2 text-gray-600">Area - Luskar, GN</p>

        <div class="mt-8 sm:mt-12">
          <dl class="grid grid-cols-2 gap-4 sm:grid-cols-3">

            <div class="flex flex-col rounded-lg bg-blue-100 px-4 py-8 text-center">
              <div class="items-center inline-flex">
                <svg width="60px" height="60px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8 15.9998C7.44772 15.9998 7 16.4475 7 16.9998C7 17.5521 7.44772 17.9998 8 17.9998C8.55228 17.9998 9 17.5521 9 16.9998C9 16.4475 8.55228 15.9998 8 15.9998ZM8 15.9998L8.00707 12M8 16.9998L8.00707 17.0069M20 5C20 6.10457 19.1046 7 18 7C16.8954 7 16 6.10457 16 5C16 3.89543 16.8954 3 18 3C19.1046 3 20 3.89543 20 5ZM12 16.9998C12 19.209 10.2091 20.9998 8 20.9998C5.79086 20.9998 4 19.209 4 16.9998C4 15.9854 4.37764 15.0591 5 14.354L5 6C5 4.34315 6.34315 3 8 3C9.65685 3 11 4.34315 11 6V14.354C11.6224 15.0591 12 15.9854 12 16.9998Z"
                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <dd class="mb-2 text-xl font-bold tracking-wide text-neutral-800 dark:text-neutral-50">
                  Temperature 71F
                </dd>
              </div>
            </div>

            <div class="inline-flex items-center rounded-lg bg-blue-100 px-4 py-8 text-center">
              <svg fi ll="#000000" width="60px" height="60px" viewBox="0 0 32 32" id="icon"
                xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <title>humidity</title>
                <path
                  d="M23.4761,13.9932,16.8472,3.4365a1.04,1.04,0,0,0-1.6944,0L8.4941,14.0444A9.9861,9.9861,0,0,0,7,19a9,9,0,0,0,18,0A10.0632,10.0632,0,0,0,23.4761,13.9932ZM16,26.0005a7.0089,7.0089,0,0,1-7-7,7.978,7.978,0,0,1,1.2183-3.9438l.935-1.4888L21.2271,23.6411A6.9772,6.9772,0,0,1,16,26.0005Z" />
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32"
                  height="32" />
              </svg>
              <h5 class="mb-2 text-xl font-bold tracking-wide text-neutral-800 dark:text-neutral-50">
                Humidity 71%
              </h5>
            </div>

            <div class="inline-flex items-center rounded-lg bg-blue-100 px-4 py-8 text-center">
              <svg width="60px" height="60px" viewBox="0 -1 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-466.000000, -830.000000)"
                    fill="#000000">
                    <path
                      d="M488,844 L467,844 C466.447,844 466,844.447 466,845 C466,845.553 466.447,846 467,846 L486.833,846 C489.687,846 492,847.791 492,850 C492,852.209 490.291,854 486,854 L486,856 L488,856 C491.313,856 494,853.313 494,850 C494,846.687 491.313,844 488,844 L488,844 Z M480.002,848 L480,848 L472,848 C471.447,848 471,848.448 471,849 C471,849.553 471.447,850 472,850 L480,850 C481.104,850 482,850.896 482,852 C482,853.104 481.104,854 480,854 L480,856 C482.209,856 484,854.209 484,852 C484,849.792 482.21,848.002 480.002,848 L480.002,848 Z M475,838 L487,838 C487.553,838 488,837.553 488,837 C488,836.448 487.553,836 487,836 L475,836 C474.447,836 474,836.448 474,837 C474,837.553 474.447,838 475,838 L475,838 Z M470,842 L488,842 C491.313,842 494,839.313 494,836 C494,832.687 491.313,830 488,830 L488,832 C490.822,832.531 492,833.791 492,836 C492,838.209 489.687,840 486.833,840 L470,840 C469.447,840 469,840.448 469,841 C469,841.553 469.447,842 470,842 L470,842 Z"
                      id="wind" sketch:type="MSShapeGroup">

                    </path>
                  </g>
                </g>
              </svg>
              <h5 class="mb-2 text-xl ml-4 font-bold tracking-wide text-neutral-800 dark:text-neutral-50">
                Wind Speed 6mph
              </h5>
            </div>

            <div class="inline-flex items-center rounded-lg bg-blue-100 px-4 py-8 text-center">
              <svg width="60px" height="60px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <path
                  d="M24.5,28A5.385,5.385,0,0,1,19,22.751a5.3837,5.3837,0,0,1,.874-2.8308L23.49,14.5383a1.217,1.217,0,0,1,2.02,0L29.06,19.8154A5.4923,5.4923,0,0,1,30,22.751,5.385,5.385,0,0,1,24.5,28Zm0-11.38-2.9356,4.3672A3.3586,3.3586,0,0,0,21,22.751a3.51,3.51,0,0,0,7,0,3.4356,3.4356,0,0,0-.63-1.867Z"
                  transform="translate(0 0)" />
                <circle cx="5" cy="13" r="1" />
                <circle cx="11" cy="19" r="1" />
                <circle cx="15" cy="25" r="1" />
                <circle cx="17" cy="15" r="1" />
                <circle cx="13" cy="11" r="1" />
                <circle cx="27" cy="11" r="1" />
                <circle cx="9" cy="27" r="1" />
                <circle cx="3" cy="21" r="1" />
                <rect x="2" y="6" width="28" height="2" />
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32"
                  height="32" />
              </svg>
              <h5 class="mb-2 text-xl ml-4 font-bold tracking-wide text-neutral-800 dark:text-neutral-50">
                Soil Moisture 6%
              </h5>
            </div>

            <div class="inline-flex items-center rounded-lg bg-blue-100 px-4 py-8 text-center">
              <svg width="60px" height="60px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <path
                  d="M21.242,7.757A5.96,5.96,0,0,1,23,12a5,5,0,0,1-1.693,3.75,1,1,0,0,1-1.323-1.5A3,3,0,0,0,21,12a4.03,4.03,0,0,0-4.083-4,3.686,3.686,0,0,0-2.376.873,1,1,0,0,1-1.606-.635A4.979,4.979,0,0,0,7.787,4,5.194,5.194,0,0,0,3,9.271a5.7,5.7,0,0,0,2.724,4.878,1,1,0,0,1-1.051,1.7A7.687,7.687,0,0,1,1,9.271,7.212,7.212,0,0,1,7.705,2.006a6.975,6.975,0,0,1,6.838,4.518A5.565,5.565,0,0,1,17.021,6h0A5.947,5.947,0,0,1,21.242,7.757ZM10,21V15a1,1,0,0,0-2,0v6a1,1,0,0,0,2,0Zm7,1a1,1,0,0,0,1-1V15a1,1,0,0,0-2,0v6A1,1,0,0,0,17,22Zm-3-4V12a1,1,0,0,0-2,0v6a1,1,0,0,0,2,0Z" />
              </svg>
              <h5 class="mb-2 text-xl ml-4 font-bold tracking-wide text-neutral-800 dark:text-neutral-50">
                Prepicitation 26%
              </h5>
            </div>
          </dl>
        </div>
        <canvas data-te-chart="line" data-te-dataset-label="Temperature"
            data-te-labels="['Monday', 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday' , 'Saturday' , 'Sunday ']"
            data-te-dataset-data="[55,40,60,30,45,26]">
          </canvas>
      </div>

    </div>


    </div>
  </section>
  <script src="../flowbite/dist/flowbite.min.js"></script>

  <script type="text/javascript" src="../tw-elements/dist/js/tw-elements.umd.min.js"></script>

</body>

</html>